.homepage-todo {
  width: 300px;
  height: 200px;
  background: url("/img/todo.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin: 20px auto 40px;
  cursor: pointer;
}
.homepage-movie {
  width: 300px;
  height: 200px;
  background: url("/img/movies.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin: 20px auto;
  cursor: pointer;
}
.homepage-todo:hover .homepage-movie:hover {
  border: 1px solid #6200EA;
}
.homepage-wrapper {
  width: 320px;
  margin: 0 auto;
}