.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.todoList {
  display: inline-block;
  padding: 0 15px;
  margin: 10px 10px 20px;
}
.title-h3 {
  color: #333;
  display: inline-block;
  margin: 0;
}
.todoList h3 {
  padding-top: 7px;
}
.movieList h3 {
  padding-top: 4px;
}
.homepage h3 {
  padding-top: 4px;
}
.movieList {
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px;
}
.icon {
  float: left;
  padding-right: 5px;
  color: #333;
}
.icon:hover {
  color: #EF6C00;
}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }

.homepage {
  display: inline-block;
  padding: 0 15px;
  margin: 0 10px;
}